html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 2500px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.underlined::after {
    content: '';
    margin: 10px auto;
    width: 50%;
    border-bottom: 1px solid #bbbbbb;
    display: block;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    background-color: transparent;
    top: 0;
    z-index: 5;
    transition: background-color 0.3s linear;
}
header .logo {
    color: #c8c8c8;
    font-size: 18px;
}
header .logo a {
    color: inherit;
}
header .logo a:hover span {
    color: inherit;
}
header .logo a span {
    font-size: 22px;
    color: #ffffff;
}
header .menu-toggler {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.1s;
}
header .menu-toggler:hover {
    opacity: 1;
}
header .menu-toggler span {
    font-size: 20px;
    display: none;
}
@keyframes slideInRight {
    0% {
        transform: translateX(280px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideOutRight {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(280px);
    }
}
@keyframes slideInTop {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
header nav {
    transform: translateX(280px);
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 280px;
    background-color: #000000f4;
    color: #ffffff;
}
header nav.show {
    animation: slideInRight 0.2s linear 1 forwards;
}
header nav.unshow {
    animation: slideOutRight 0.15s linear 1 forwards;
}
header nav h3.menu-closer {
    margin: 5px;
    text-align: right;
    cursor: pointer;
}
header nav .menu-list {
    list-style: none;
    padding: 0 0 0 30px;
}
header nav .menu-list .menu-item a {
    display: inline-block;
    width: 90%;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 20px;
    color: #888888;
    border-bottom: 1px solid #ffffff;
}
header nav .menu-list .menu-item a:hover {
    color: #ffffff;
}

/* CAROUSEL */
.greetings-slider .carousel-container {
    background-color: #000000;
}
.greetings-slider .main-carousel {
    position: relative;
}
.greetings-slider .main-carousel .item {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
.greetings-slider .main-carousel .item img {
    opacity: 0.5;
}
.greetings-slider .main-carousel .item .text {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 40%;
}
.greetings-slider .main-carousel .item .text p {
    display: none;
}
.greetings-slider .main-carousel .item .text h1 {
    font-size: 32px;
}
.greetings-slider .main-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* MAIN */
main {
    background-color: #f2f2f2;
    color: #a6a6a6;
    padding: 75px 0 0;
}
main .cards-container {
    padding: 50px 5%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px 60px;
    margin: 0 auto;
}
main .card-item {
    background-color: #ffffff;
}
main .card-item img {
    width: 100%;
}
main .card-item .card-text-area {
    padding: 30px;
}
main .card-item .upper-text {
    letter-spacing: 5px;
}
main .card-item h3 {
    color: #111111;
    font-size: 24px;
}
main p {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
main h3 {
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
}
main .card-item .card-text {
    margin-top: 30px;
    text-align: left;
    font-size: 15px;
}
main .section-divider {
    height: 200px;
    background: url("../img/bg.jpg") center fixed no-repeat;
    background-size: cover;
    padding-top: 50px;
}
main .section-divider p {
    font-size: 18px;
}
main .section-divider h3 {
    color: #ffffff;
}
main .cards-lower {
    padding: 50px 0;
}
main .cards-lower p {
    font-size: 18px;
}
main .cards-lower h3 {
    color: #111111;
}
main .cards-lower .picture-card {
    background-color: #ffffff;
    padding: 15px;
}
main .cards-lower .picture-card img {
    width: 100%;
    height: 100%;
}
/* FOOTER */
footer {
    background-color: rgba(0, 0, 0, 0.957);
    padding: 75px 0;
}
footer .socials {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
footer .socials li {
    padding-right: 24px;
}
footer .socials li a {
    opacity: 0.4;
    transition: 0.1s;
}
footer .socials li a:hover {
    opacity: 1;
}
footer .copyright {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}
footer .copyright span {
    opacity: 0.4;

}
footer .copyright a {
    border-bottom: 1px dotted #ff641e;
    color: #ff641e;
    transition: 0.4s all;
}
footer .copyright a:hover {
    color: #ffffff;
    border-bottom: none;
}


/* MEDIA */
/* MEDIA */
/* MEDIA */
@media screen and (min-width: 576px) {
    header {
        padding: 15px 20px;
    }
    header nav h3.menu-closer {
        margin: 20px 30px 15px 20px;
    }
    header .menu-toggler span {
        display: inline;
    }
    .greetings-slider .main-carousel .item .text p {
        display: inline;
        font-size: 18px ;
    }
}
@media screen and (min-width: 768px) {
    .greetings-slider .main-carousel .item .text p {
        font-size: 22px ;
    }
    .greetings-slider .main-carousel .item .text h1 {
        font-size: 36px;
    }
    main .cards-container {
        grid-template-columns: auto auto;
    }
    main .cards-lower .cards-container {
        grid-template-columns: auto;
    }
}
@media screen and (min-width: 992px) {
    .greetings-slider .main-carousel .item .text p {
        font-size: 24px ;
    }
    .greetings-slider .main-carousel .item .text h1 {
        font-size: 40px;
    }
    main .cards-lower .cards-container {
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width: 1200px) {
    .greetings-slider .main-carousel .item .text p {
        font-size: 24px ;
    }
    .greetings-slider .main-carousel .item .text h1 {
        font-size: 46px;
    }
}